<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">    

    <composite:interface> 
        <composite:attribute name="list" required="true"/> 
        <composite:attribute name="actionAdd" required="true"/> 
    </composite:interface>

    <composite:implementation>   

        <h:inputText binding="#{inut}" id="${cc.attrs.id_tag}" value="${cc.attrs.value}" />
        <h:commandButton
                    value="Adicinonar"
                    class="btn btn-info" 
                    action="${cc.attrs.actionAdd}" />

    </composite:implementation> 

</html> 