<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"   
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"    
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >    
    
    <composite:interface>    
        <composite:attribute name="title" required="false"/>    
        <composite:attribute name="headers" required="true"/>      
        <composite:attribute name="list" required="true"/> 
        <composite:attribute name="props" required="true"/>
    </composite:interface>    
    
    <composite:implementation>   
        <p:dataTable id="${cc.attrs.id}" value="${cc.attrs.list}" var="object" summary="${cc.attrs.title}">     
            <f:facet name="header" rendered="#{not empty cc.attrs.title}">       
                <h:outputText value="${cc.attrs.title}" />             </f:facet>      
            <c:forEach items="#{cc.attrs.headers}" var="header" varStatus="loop">      
                <p:column headerText="${header}">               
                    <h:outputText value="${object[cc.attrs.props[loop.index]]}">
                    </h:outputText>     
                </p:column>  
            </c:forEach>    
            <composite:insertChildren />      
        </p:dataTable>     
    </composite:implementation> 
    
</html> 