<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"       
      xmlns:emcomp="http://xmlns.jcp.org/jsf/composite/emcomp">    

    <composite:interface>    
        <composite:attribute name="entidade" required="true"/> 
        <composite:attribute name="showPassword" type="boolean" default="false" required="false"/> 
    </composite:interface>    

    <composite:implementation>   

        <h:form>

            <emcomp:input_field
                id_tag="username"
                name_tag="Username: "
                value="${cc.attrs.entidade.username}" 
                is_disabled="true"/>

            <emcomp:input_pass
                id_tag="password"
                name_tag="Password: "
                rendered="#{cc.attrs.showPassword}"
                value="${cc.attrs.entidade.password}" />

            <emcomp:input_field
                id_tag="nome"
                name_tag="Nome: "
                value="${cc.attrs.entidade.nome}" />

            <emcomp:input_field
                id_tag="email"
                name_tag="Email: "
                value="${cc.attrs.entidade.email}" />

            <composite:insertChildren />

        </h:form>

    </composite:implementation> 

</html> 