<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"       
          
      xmlns:f="http://xmlns.jcp.org/jsf/core">    

    <composite:interface>    
        <composite:attribute name="id_tag" required="true"/>
        <composite:attribute name="name_tag" required="true"/> 
        <composite:attribute name="value" required="false"/>
        <composite:attribute name="is_required" required="false" default="true"/> 
        <composite:attribute name="is_disabled" required="false" default="false"/> 
    </composite:interface>

    <composite:implementation>   

        <div class="form-group">
            <p:outputLabel 
                for="${cc.attrs.id_tag}"
                value="${cc.attrs.name_tag}" />
            
            <h:inputText 
                id="${cc.attrs.id_tag}"
                value="${cc.attrs.value}"
                class="form-control"
                required="${cc.attrs.is_required}"
                disabled="${cc.attrs.is_disabled}"
                >
                <f:convertDateTime pattern="yyyy-MM-dd"/>  
            </h:inputText>

            <h:message for="${cc.attrs.id_tag}" class="help-block" errorStyle="color: red" />
        </div>

    </composite:implementation> 

</html> 