<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"     
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"

      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">    

    <composite:interface>
        <composite:attribute name="proposta" required="true"/> 
    </composite:interface>

    <composite:implementation>   

        <h:form>
            <em:input_field
                id_tag="titulo" name_tag="Titulo" 
                value="#{cc.attrs.proposta.titulo}"
                is_disabled="true"
                is_required="false"/>

            <em:input_field
                id_tag="resumo" name_tag="Resumo" 
                value="#{cc.attrs.proposta.resumo}"
                is_disabled="true"
                is_required="false"/>
            
            <em:input_field
                id_tag="plano_trabalho" name_tag="Plano de Trabalho" 
                value="#{cc.attrs.proposta.planoTrabalho}"
                is_disabled="true"
                is_required="false"/>

            <em:input_field
                id_tag="tipo_trabalho" name_tag="Tipo de Trabalho:"
                value="#{cc.attrs.proposta.tipoTrabalho.nomeTipo}"
                is_disabled="true"
                is_required="false"/>

            <em:input_field
                id_tag="local_realizacao"  
                name_tag="Local Realizacao"
                value="#{cc.attrs.proposta.localRealizacao != null ? 
                         cc.attrs.proposta.localRealizacao : 'Campo vazio!'}"
                is_disabled="true"
                is_required="false"/>

            <em:view_string_list name_tag="Proponentes"
                                 list="#{cc.attrs.proposta.proponenteUsernames}"/>         


            <h5 class="text-center"> Orçamento </h5>

            <div class="form-group">
                <p:outputLabel 
                    for="orcamento_bibliografia"
                    value="Bibliografia" />
                <div class="input-group">
                    <div class="input-group-addon">&euro;</div>
                    <h:inputText 
                        id="orcamento_bibliografia"
                        value="#{cc.attrs.proposta.orcamentoBibliografia}"
                        class="form-control"
                        required="false"
                        disabled="true"
                        />
                </div>
                <h:message for="orcamento_bibliografia" class="help-block" errorStyle="color: red" />
            </div>

            <div class="form-group">
                <p:outputLabel 
                    for="orcamento_material"
                    value="Material" />
                <div class="input-group">
                    <div class="input-group-addon">&euro;</div>
                    <h:inputText 
                        id="orcamento_material"
                        value="#{cc.attrs.proposta.orcamentoMaterial}"
                        class="form-control"
                        required="false"
                        disabled="true"
                        />
                </div>
                <h:message for="orcamento_material" class="help-block" errorStyle="color: red" />
            </div>

            <div class="form-group">
                <p:outputLabel 
                    for="orcamento_equipamento"
                    value="Equipamento" />
                <div class="input-group">
                    <div class="input-group-addon">&euro;</div>
                    <h:inputText 
                        id="orcamento_equipamento"
                        value="#{cc.attrs.proposta.orcamentoEquipamento}"
                        class="form-control"
                        required="false"
                        disabled="true"
                        />
                </div>
                <h:message for="orcamento_equipamento" class="help-block" errorStyle="color: red" />
            </div>     
            
            <div class="form-group">
                <p:outputLabel 
                    for="orcamento_outros"
                    value="Outros" />
                <div class="input-group">
                    <div class="input-group-addon">&euro;</div>
                    <h:inputText 
                        id="orcamento_outros"
                        value="#{cc.attrs.proposta.orcamentoOutros}"
                        class="form-control"
                        required="false"
                        disabled="true"
                        />
                </div>
                <h:message for="orcamento_outros" class="help-block" errorStyle="color: red" />
            </div>     

            <em:view_string_list name_tag="Areas Cientificas"
                                 list="#{cc.attrs.proposta.areasCientificas}"/>         


            <em:view_string_list name_tag="Objetivos"
                                 list="#{cc.attrs.proposta.objectivos}"/>


            <em:view_string_list name_tag="Requisitos"
                                 list="#{cc.attrs.proposta.requisitosTrabalho}"/>


            <em:view_string_list name_tag="Apoios"
                                 list="#{cc.attrs.proposta.apoios}"/>

            <div class="form-group">
                <p:outputLabel value="Bibliografia"/>
                <ul>
                    <c:forEach items="${cc.attrs.proposta.bibliografia}" var="area">
                        <li>
                            <span>${area.titulo},&nbsp;${area.autor}</span>
                        </li>
                    </c:forEach>

                    <c:if test="#{cc.attrs.proposta.bibliografia.size() == 0}">  
                        <li>"Campo vazio!"</li>
                    </c:if>  
                </ul>
            </div>
            
            <composite:insertChildren />    

        </h:form>

        <h:messages errorStyle="color: red" />    
        
    </composite:implementation> 

</html> 