<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"     
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"

      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">    

    <composite:interface>
        <composite:attribute name="proposta" required="true"/> 
    </composite:interface>

    <composite:implementation>   

        <h:form>

            <em:input_field id_tag="titulo" name_tag="Titulo:" 
                            value="#{cc.attrs.proposta.titulo}"/>

            <br/>

            <em:input_field id_tag="resumo" name_tag="Resumo:" 
                            value="#{cc.attrs.proposta.resumo}"/>

            <br/>

            <em:view_field id_tag="tipo_trabalho" name_tag="Tipo de Trabalho:"
                           value="#{cc.attrs.proposta.tipoTrabalho.nomeTipo}"/>

            <br/>
            
            <p:outputLabel for="tipo_trabalho" value="Tipo de Trabalho" />
            <h:selectOneMenu id="tipo_trabalho" value="#{cc.attrs.proposta.tipoTrabalho}">
                <f:selectItems
                    value="#{proponenteManagedBean.allTiposDeTrabalho}"
                    var="tipoTrabalho"
                    itemValue="#{tipoTrabalho}"
                    itemLabel="#{tipoTrabalho}" />
            </h:selectOneMenu>
            
            <br/>

            <em:view_field id_tag="concurso_id" name_tag="Concurso Id: "
                           value="#{cc.attrs.proposta.concursoId}"/>

            <br/>

            <p:outputLabel value="Professores Proponentes" for="professores_proponentes"/>
            <h:selectManyCheckbox id="professores_proponentes" value="#{cc.attrs.proposta.proponenteUsernames}">
                <c:forEach items="#{proponenteManagedBean.allProfessores}" var="professor" >      
                    <f:selectItem itemValue="#{professor.username}" itemLabel="#{professor.nome}" />
                </c:forEach>   
            </h:selectManyCheckbox>
            <h:message for="professores_proponentes" errorStyle="color: red" />

            <br/>

            <em:view_string_list name_tag="Areas Cientificas:"
                                 list="#{cc.attrs.proposta.areasCientificas}"/>         

            <em:add_string_list list="#{cc.attrs.proposta.areasCientificas}" actionAdd=""
            <em:view_string_list name_tag="Objetivos:"
                                 list="#{cc.attrs.proposta.objectivos}"/>


            <c:if test="#{cc.attrs.proposta.tipoTrabalho.nomeTipo == 'Estágio'}">
                <em:input_field 
                    id_tag="local_realizacao"  
                    name_tag="Local Realizacao:"
                    value="#{cc.attrs.proposta.localRealizacao}"/>

                <br/>
            </c:if>


            <em:view_string_list name_tag="Requisitos:"
                                 list="#{cc.attrs.proposta.requisitosTrabalho}"/>


            <em:view_string_list name_tag="Apoios:"
                                 list="#{cc.attrs.proposta.apoios}"/>


            <p:outputLabel value="Orçamento"/>

            <br/>

            &nbsp;&nbsp;&nbsp;                
            <em:input_field
                id_tag="orcamento_bibliografia"
                name_tag="-Bibliografia:"
                value="#{cc.attrs.proposta.orcamentoBibliografia}"
                />&euro;

            <br/>

            &nbsp;&nbsp;&nbsp;               
            <em:input_field
                id_tag="orcamento_material"
                name_tag="-Material:"
                value="#{cc.attrs.proposta.orcamentoMaterial}"
                />&euro;

            <br/>

            &nbsp;&nbsp;&nbsp;
            <em:input_field
                id_tag="orcamento_equipamento"
                name_tag="-Equipamento:"
                value="#{cc.attrs.proposta.orcamentoEquipamento}"
                />&euro;

            <br/>

            &nbsp;&nbsp;&nbsp;
            <em:input_field
                id_tag="orcamento_outros"
                name_tag="-Outros:"
                value="#{cc.attrs.proposta.orcamentoOutros}"
                />&euro;

            <br/>

            <composite:insertChildren />    

        </h:form>

        <br/>

        <h:messages errorStyle="color: red" />    
    </composite:implementation> 

</html> 