<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:p="http://primefaces.org/ui" 
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">    

    <composite:interface> 
        <composite:attribute name="name_tag" required="true"/>
        <composite:attribute name="list" required="true"/> 
        <composite:attribute name="empty_value_override" required="false" default="Campo vazio!"/> 
    </composite:interface>

    <composite:implementation>   

        <div class="form-group">

            <p:outputLabel value="${cc.attrs.name_tag}"/>

            <ul>
                <c:forEach items="${cc.attrs.list}" var="area">
                    <li>${area}</li>
                </c:forEach>

                <c:if test="#{cc.attrs.list.size() == 0}">  
                    <li>${cc.attrs.empty_value_override}</li>
                </c:if>  
            </ul>

        </div>

    </composite:implementation> 

</html> 