<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"       
      >    

    <composite:interface>    
        <composite:attribute name="id_tag" required="true"/>
        <composite:attribute name="name_tag" required="true"/> 
        <composite:attribute name="value" required="false"/> 
    </composite:interface>

    <composite:implementation>   

        <div class="form-group">
            <p:outputLabel 
                for="${cc.attrs.id_tag}"
                value="${cc.attrs.name_tag}" />
            
            <h:outputText 
                id="${cc.attrs.id_tag}"
                value="${cc.attrs.value}"/>
        </div>
    </composite:implementation> 

</html> 