<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"                       
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">      

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Criar Candidatura
        </ui:define>

        <ui:define name="main">

            <h:form enctype="multipart/form-data">

                <em:input_field
                    id_tag="trabalho" 
                    name_tag="Trabalho:"
                    value="#{estudanteManagedBean.currentTrabalho.titulo}" 
                    is_disabled="true"
                    is_required="false"/>

                <div class="form-group">
                    <em:dt 
                        title="Documentos de candidatura"
                        id="documents"
                        headers="#{['Nome', 'Tipo', 'Data']}" 
                        props="#{['nome','mimeType','uploadedAt']}" 
                        list="#{estudanteManagedBean.newCandidatura.documentos}">

                        <p:column headerText="Acções">
                            <p:commandButton value="Download" ajax="false">
                                <p:fileDownload value="#{downloadManager.getFile(object)}" />
                            </p:commandButton>
                            &nbsp;
                            <p:commandButton
                                value="Remover"
                                update="documents"
                                action="${estudanteManagedBean.newCandidatura.removeDocumento(object)}" />
                        </p:column> 
                    </em:dt>
                </div>

                <div class="form-group">
                    <p:growl id="growlcv" showDetail="true" />
                    <p:fileUpload
                        value="#{uploadManager.file}" 
                        mode="simple" 
                        skinSimple="true"/>
                </div>

                <div class="form-group">
                    <p:commandButton value="Carregar" 
                                     ajax="false" 
                                     actionListener="#{uploadManager.upload('candidaturas/')}"
                                     action="#{estudanteManagedBean.adicionarDocumentoNovaCandidatura()}"/>
                </div>
            </h:form>
            <h:form>


                <em:input_field id_tag="media" name_tag="Média:" 
                                value="#{estudanteManagedBean.newCandidatura.media}"/>

                <div class="form-group">
                    <h:link 
                        value="Cancelar"
                        outcome="estudante_index?faces-redirect=true"
                        class="btn btn-danger"/>
                    
                    &nbsp;
                    
                    <h:commandButton
                        id="submit"
                        value="Criar Candidatura"
                        class="btn btn-primary"
                        binding="#{estudanteManagedBean.component}"
                        action="#{estudanteManagedBean.createCandidatura()}" />
                    <p:message for="submit" style="color: red"/>
                </div>
            </h:form>

        </ui:define>
    </ui:composition>

</html> 
