<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:f="http://java.sun.com/jsf/core"       
      xmlns:p="http://primefaces.org/ui"       
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">      

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Index #{loginManagedBean.username}
        </ui:define>

        <ui:define name="main">
            
            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_MARCACAO_PROVA_PUBLICA)}">
                <em:dt 
                    title="Trabalho Entregue"
                    id="trabalhos_entregues"
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo']}" 
                    props="#{['titulo','tipoTrabalho','resumo']}" 
                    list="#{estudanteManagedBean.trabalho}">

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Detalhes" action="estudante_trabalho_atribuido_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentTrabalho}" value="#{object}"/>
                            </h:commandLink>
                        </h:form>
                    </p:column> 
                </em:dt>

                <br/>
                <br/>
            </c:if>

            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_ENTREGA_TRABALHOS)}">
                <em:dt 
                    title="Minha Proposta de Trabalho"
                    id="propostas"
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo']}" 
                    props="#{['titulo','tipoTrabalho','resumo']}" 
                    list="#{estudanteManagedBean.trabalho}">

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Detalhes" action="estudante_trabalho_atribuido_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentTrabalho}" value="#{object}"/>
                            </h:commandLink>
                        </h:form>
                    </p:column> 
                </em:dt>

                <br/>
                <br/>
            </c:if>

            <c:if test="#{not loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_CANDIDATURAS)}">
                <em:dt
                    id="candidaturas"
                    title="Minhas candidaturas a trabalhos" 
                    headers="#{['Estudante', 'Titulo Trabalho', 'Média']}" 
                    props="#{['estudanteUsername','trabalhoTitulo', 'media']}" 
                    list="#{estudanteManagedBean.allCandidaturasDoEstudante}">

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Detalhes" action="estudante_candidatura_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentCandidatura}" value="#{object}"/>
                            </h:commandLink>
                        </h:form>
                    </p:column> 
                </em:dt> 

                <br/>
                <br/>
            </c:if>

            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_CANDIDATURAS)}">
                <em:dt 
                    id="minhas_candidaturas"
                    title="Minhas candidaturas a trabalhos" 
                    headers="#{['Estudante', 'Titulo Trabalho', 'Média']}" 
                    props="#{['estudanteUsername','trabalhoTitulo', 'media']}" 
                    list="#{estudanteManagedBean.allCandidaturasDoEstudante}">

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Detalhes" action="estudante_candidatura_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentCandidatura}" value="#{object}"/>
                            </h:commandLink>
                            &nbsp;
                            <h:commandLink value="Atualizar" action="estudante_candidatura_update?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentCandidatura}" value="#{object}"/>
                            </h:commandLink>
                            &nbsp;
                            <h:commandLink value="Remover" actionListener="#{estudanteManagedBean.removerCandidatura}">
                                <f:param name="candidaturaID" id="candidaturaID" value="#{object.id}" />
                            </h:commandLink>

                        </h:form>
                    </p:column> 
                </em:dt> 

                <br/>
                <br/>

                <em:dt 
                    id="trabalhos_disponiveis"
                    title="Trabalhos disponiveis" 
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo']}" 
                    props="#{['titulo','tipoTrabalho','resumo']}" 
                    list="#{estudanteManagedBean.allTrabalhosEmPeriodoCandidatura}">  

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Candidatar" rendered="#{not estudanteManagedBean.temCandidaturaATrabalho(object.id)}" action="estudante_candidatura_trabalho_create?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentTrabalho}" value="#{object}"/>
                            </h:commandLink>
                            &nbsp;
                            <h:commandLink value="Detalhes" action="estudante_trabalho_candidataveil_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{estudanteManagedBean.currentTrabalho}" value="#{object}"/>
                            </h:commandLink>
                        </h:form>
                    </p:column> 
                </em:dt> 

                <br/>
                <br/>
            </c:if>

        </ui:define>
    </ui:composition>

</html> 
