<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"           
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"       >      

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Detalhes de Candidatura
        </ui:define>

        <ui:define name="main">
            <h:form>
                <em:input_field
                    id_tag="trabalho" 
                    value="#{estudanteManagedBean.currentCandidatura.trabalhoTitulo}" 
                    name_tag="Trabalho:"
                    is_disabled="true"
                    is_required="false"/>

                <em:input_field
                    id_tag="media"
                    name_tag="Media:"
                    value="#{estudanteManagedBean.currentCandidatura.media}"
                    is_disabled="true"
                    is_required="false"/>

                <div class="form-group">
                    <em:dt 
                        title="Documentos da Candidatura"
                        id="documentos"
                        headers="#{['Nome', 'Tipo', 'Data']}" 
                        props="#{['nome','mimeType','uploadedAt']}" 
                        list="#{estudanteManagedBean.currentCandidatura.documentos}">

                        <p:column headerText="Acções">     
                            <h:form>
                                <p:commandButton value="Download" ajax="false">
                                    <p:fileDownload value="#{downloadManager.getFile(object)}" />
                                </p:commandButton>
                            </h:form>
                        </p:column> 

                    </em:dt>
                </div>
                
                <div class="form-group">
                    <h:link
              
                        value="Voltar" 
                        outcome="estudante_index?faces-redirect=true"
                        class="btn btn-primary"/>

                    <h:message for="submit" class="help-block" style="color: red"/>
                </div>

            </h:form>
        </ui:define>
    </ui:composition>

</html> 
