<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"                     
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">      

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Detalhes do Trabalho
        </ui:define>

        <ui:define name="main">
            <h:form>
                <em:input_field
                    id_tag="titulo" 
                    name_tag="Titulo:"
                    value="#{estudanteManagedBean.currentTrabalho.titulo}"
                    is_disabled="true"
                    is_required="false"/>

                <em:input_field
                    id_tag="tipo_trabalho" 
                    name_tag="Tipo de Trabalho:"
                    value="#{estudanteManagedBean.currentTrabalho.tipoTrabalho.nomeTipo}"
                    is_disabled="true"
                    is_required="false"/>


                <c:if test="#{estudanteManagedBean.currentTrabalho.tipoTrabalho.nomeTipo == 'Estágio'}">
                    <em:input_field
                        id_tag="local_realizacao"  
                        name_tag="Local Realizacao:"
                        value="#{estudanteManagedBean.currentTrabalho.proposta.localRealizacao != null ? 
                                 estudanteManagedBean.currentTrabalho.proposta.localRealizacao : 'Por definir'}"
                        is_disabled="true"
                        is_required="false"/>

                </c:if>

                <em:input_field
                    id_tag="resumo" 
                    name_tag="Resumo"
                    value="#{estudanteManagedBean.currentTrabalho.resumo}"
                    is_disabled="true"
                    is_required="false"/>

                <em:input_field
                    id_tag="plano_trabalho" 
                    name_tag="Plano de Trabalho"
                    value="#{estudanteManagedBean.currentTrabalho.proposta.planoTrabalho}"
                    is_disabled="true"
                    is_required="false"/>

                <em:view_string_list name_tag="Professores:"
                                     list="#{estudanteManagedBean.currentTrabalho.professorUsernames}"
                                     empty_value_override="Trabalho sem professores! É favor dirigir se aos servicos academicos"/>         

                <em:view_string_list name_tag="Areas Cientificas:"
                                     list="#{estudanteManagedBean.currentTrabalho.proposta.areasCientificas}"/>    


                <em:view_string_list name_tag="Objetivos:"
                                     list="#{estudanteManagedBean.currentTrabalho.proposta.objectivos}"/>


                <em:view_string_list name_tag="Requisitos:"
                                     list="#{estudanteManagedBean.currentTrabalho.proposta.requisitosTrabalho}"/>


                <em:view_string_list name_tag="Apoios:"
                                     list="#{estudanteManagedBean.currentTrabalho.proposta.apoios}"/>

                <div class="form-group">
                    <p:outputLabel value="Bibliografia"/>
                    <ul>
                        <c:forEach items="${estudanteManagedBean.currentTrabalho.proposta.bibliografia}" var="area">
                            <li>
                                <span>${area.titulo},&nbsp;${area.autor}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{estudanteManagedBean.currentTrabalho.proposta.bibliografia.size() == 0}">  
                            <li>"Campo vazio!"</li>
                        </c:if>  
                    </ul>
                </div>

            </h:form>

            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_ENTREGA_TRABALHOS)}">
                <h:form enctype="multipart/form-data">

                    <div class="form-group">
                        <em:dt 
                            title="Artefactos do Trabalho"
                            id="documents"
                            headers="#{['Nome', 'Tipo de Artefacto', 'Tipo de Ficheiro', 'Data']}" 
                            props="#{['nome','tipoDeDocumento','mimeType','uploadedAt']}" 
                            list="#{estudanteManagedBean.currentTrabalho.artefactos}">

                            <p:column headerText="Acções">     
                                <p:commandButton value="Download" ajax="false">
                                    <p:fileDownload value="#{downloadManager.getFile(object)}" />
                                </p:commandButton>
                                &nbsp;
                                <p:commandButton
                                    value="Remover"
                                    update="documents"
                                    action="${estudanteManagedBean.currentTrabalho.removeArtefacto(object)}" />
                            </p:column> 
                        </em:dt>
                    </div>
                    <div class="form-group">

                        <h5>Adicionar novo artefacto</h5>

                        <div class="form-group">
                            <p:growl id="growlcv" showDetail="true" />
                            <p:fileUpload
                                value="#{uploadManager.file}" 
                                mode="simple" 
                                skinSimple="true"/>
                        </div>

                        <div class="form-group">
                            <h:selectOneRadio binding="#{tipoDeDocumento}">
                                <f:selectItem itemValue="0" itemLabel="Relatorio Publico" />&nbsp;
                                <f:selectItem itemValue="1" itemLabel="Artefacto de Codigo" />
                            </h:selectOneRadio>
                        </div>

                        <div class="form-group">
                            <p:commandButton 
                                value="Carregar" 
                                ajax="false" 
                                actionListener="#{uploadManager.upload('artefactos/')}"
                                action="#{estudanteManagedBean.adicionarArtefactoCurrentTrabalho(tipoDeDocumento.value)}"/>

                        </div>
                    </div>
                    <div class="form-group">
                        <h:link 
                            value="Cancelar" 
                            outcome="estudante_index?faces-redirect=true"
                            class="btn btn-danger" />
                        &nbsp;
                        <h:commandButton
                            id="submit"
                            value="Atualizar Artefactos"
                            class="btn btn-primary"
                            binding="#{estudanteManagedBean.component}"
                            action="#{estudanteManagedBean.updateArtefactosTrabalho()}"/>
                        <p:message for="submit" style="color: red"/>
                    </div>
                </h:form>
            </c:if>


            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_MARCACAO_PROVA_PUBLICA)}">
                <h:form enctype="multipart/form-data">
                    <div class="form-group">
                        <em:dt 
                            id="artefactos"
                            title="Artefactos do Trabalho" 
                            headers="#{['Nome', 'Tipo', 'Data']}" 
                            props="#{['nome','mimeType','uploadedAt']}" 
                            list="#{estudanteManagedBean.currentTrabalho.artefactos}">

                            <p:column headerText="Acções">     
                                <p:commandButton value="Download" ajax="false">
                                    <p:fileDownload value="#{downloadManager.getFile(object)}" />
                                </p:commandButton>
                            </p:column> 
                        </em:dt>
                    </div>

                    <div class="form-group">
                        <h:link 
                            value="Voltar" 
                            outcome="estudante_index?faces-redirect=true"
                            class="btn btn-info" />
                    </div>
                </h:form>
            </c:if>
        </ui:define>
    </ui:composition>

</html>