<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"                       
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:emcomp="http://xmlns.jcp.org/jsf/composite/emcomp">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Criar Supervisor
        </ui:define>

        <ui:define name="main"> 

            <h:form>                  

                <emcomp:input_field
                    id_tag="nome"
                    name_tag="Nome: "
                    value="#{proponenteManagedBean.newSupervisor.nome}" />

                <emcomp:input_field
                    id_tag="email"
                    name_tag="Email: "
                    value="#{proponenteManagedBean.newSupervisor.email}" />

                <div class="form-group">
                    <h:link value="Cancelar" 
                            outcome="proponente_index"
                            class="btn btn-danger" 
                            />
                    &nbsp;
                    <h:commandButton
                        id="submit"
                        value="Criar"
                        class="btn btn-primary"
                        binding="#{proponenteManagedBean.component}"
                        action="#{proponenteManagedBean.createSupervisor()}" />
                    <h:message for="submit" style="color: red"/>
                </div>
                
            </h:form>

            <h:messages errorStyle="color: red" />        

        </ui:define>
    </ui:composition>
</html>