<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:f="http://java.sun.com/jsf/core"       
      xmlns:p="http://primefaces.org/ui"       
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Criar Proposta
        </ui:define>

        <ui:define name="main">

            <h:form>

                <em:input_field 
                    id_tag="titulo" 
                    name_tag="Titulo:*" 
                    value="#{proponenteManagedBean.newProposta.titulo}"
                    is_required="false"/>


                <em:input_field 
                    id_tag="resumo" 
                    name_tag="Resumo:*" 
                    value="#{proponenteManagedBean.newProposta.resumo}"
                    is_required="false"/>

                <em:input_field 
                    id_tag="plano_trabalho" 
                    name_tag="Plano de Trabalho:*" 
                    value="#{proponenteManagedBean.newProposta.planoTrabalho}"
                    is_required="false"/>

                <div class="form-group">
                    <p:outputLabel for="tipo_trabalho" value="Tipo de Trabalho:*" />
                    <h:selectOneMenu 
                        id="tipo_trabalho" 
                        value="#{proponenteManagedBean.newProposta.tipoTrabalho}"
                        class="form-control">
                        <f:selectItems
                            value="#{proponenteManagedBean.allTiposDeTrabalho}"
                            var="tipoTrabalho"
                            itemValue="#{tipoTrabalho}"
                            itemLabel="#{tipoTrabalho}" />
                    </h:selectOneMenu>
                    <h:message for="tipo_trabalho" class="help-block" errorStyle="color: red" />
                </div>
                
                <div class="form-group">
                    <em:input_field 
                        id_tag="local_realizacao"  
                        name_tag="Local Realizacao:"
                        value="#{proponenteManagedBean.newProposta.localRealizacao}"
                        is_required="false"/>
                </div>
                
                <c:if test="#{not proponenteManagedBean.instituicao}">
                    <div class="form-group">
                        <p:outputLabel value="Outros Proponentes:" for="professores_proponentes"/>
                        <h:selectManyCheckbox 
                            id="professores_proponentes" 
                            value="#{proponenteManagedBean.newProposta.proponenteUsernames}"
                            rendered="true">
                            <c:forEach items="#{proponenteManagedBean.allProfessores}" var="professor" > 
                                <c:if test="#{loginManagedBean.username != professor.username}">
                                    <f:selectItem itemValue="#{professor.username}" itemLabel="#{professor.nome}" />
                                </c:if>
                            </c:forEach>   
                        </h:selectManyCheckbox>
                        <h:message for="professores_proponentes" errorStyle="color: red" />
                    </div>
                </c:if>
                
                <h5 class="text-center"> Orçamento </h5>

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_bibliografia"
                        value="Bibliografia*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_bibliografia"
                            value="#{proponenteManagedBean.newProposta.orcamentoBibliografia}"
                            class="form-control"
                            />
                    </div>
                    <h:message for="orcamento_bibliografia" class="help-block" errorStyle="color: red" />
                </div>

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_material"
                        value="Material*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_material"
                            value="#{proponenteManagedBean.newProposta.orcamentoMaterial}"
                            class="form-control"
                            />
                    </div>
                    <h:message for="orcamento_material" class="help-block" errorStyle="color: red" />
                </div>

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_equipamento"
                        value="Equipamento*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_equipamento"
                            value="#{proponenteManagedBean.newProposta.orcamentoEquipamento}"
                            class="form-control"
                            />
                    </div>
                    <h:message for="orcamento_equipamento" class="help-block" errorStyle="color: red" />
                </div>     

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_outros"
                        value="Outros*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_outros"
                            value="#{proponenteManagedBean.newProposta.orcamentoOutros}"
                            class="form-control"
                            />
                    </div>
                    <h:message for="orcamento_outros" class="help-block" errorStyle="color: red" />
                </div>

                <div class="form-group">
                    <p:outputLabel  value="Areas Cientificas:*"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.newProposta.areasCientificas}" var="val">
                            <li>
                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="#{proponenteManagedBean.newProposta.removeAreaCientificas(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.newProposta.areasCientificas.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  

                        <li>
                            <h:inputText binding="#{newAreaCientificaIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Área Científica"
                                class="btn btn-info" 
                                actionListener="#{proponenteManagedBean.newProposta.addAreaCientificas(newAreaCientificaIT.value)}">
                                <f:actionListener binding="#{newAreaCientificaIT.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>
                
                <div class="form-group">
                    <p:outputLabel  value="Objetivos:"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.newProposta.objectivos}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    actionListener="${proponenteManagedBean.newProposta.removeObjectivos(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.newProposta.objectivos.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if> 
                        <li>
                            <h:inputText binding="#{newObjectivoIT}"/>&nbsp;
                            <h:commandButton
                                value="Adicionar Objectivo"
                                class="btn btn-info" 
                                actionListener="${proponenteManagedBean.newProposta.addObjectivos(newObjectivoIT.value)}" >
                                <f:actionListener binding="#{newObjectivoIT.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>
                
                <div class="form-group">
                    <p:outputLabel  value="Requisitos:"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.newProposta.requisitosTrabalho}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="${proponenteManagedBean.newProposta.removeRequisitoTrabalho(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.newProposta.requisitosTrabalho.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  
                        <li>
                            <h:inputText binding="#{newRequisitosTrabalhoIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Requisito Trabalho"
                                class="btn btn-info" 
                                actionListener="${proponenteManagedBean.newProposta.addRequisitoTrabalho(newRequisitosTrabalhoIT.value)}">
                                <f:actionListener binding="#{newRequisitosTrabalhoIT.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <p:outputLabel  value="Apoios:"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.newProposta.apoios}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="${proponenteManagedBean.newProposta.removeApoio(val)}"/>
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.newProposta.apoios.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  

                        <li>
                            <h:inputText binding="#{newApoioIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Apoio"
                                class="btn btn-info" 
                                actionListener="#{proponenteManagedBean.newProposta.addApoio(newApoioIT.value)}">
                                <f:actionListener binding="#{newApoioIT.resetValue()}" />
                            </h:commandButton>
                                
                        </li>
                    </ul>
                </div>


                <div class="form-group">
                    <p:outputLabel  value="Bibliografia"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.newProposta.bibliografia}" var="val">
                            <li>
                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="#{proponenteManagedBean.newProposta.removeItemBibliografico(val)}" />
                                &nbsp;
                                <span>${val.titulo},&nbsp;${val.autor}</span> 
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.newProposta.bibliografia.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  

                        <li>
                            Titulo:&nbsp;<h:inputText binding="#{newItemBibliograficoTitulo}"/>
                            Autor:&nbsp;<h:inputText binding="#{newItemBibliograficoAutor}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Item Bibliográgico"
                                class="btn btn-info" 
                                actionListener="#{proponenteManagedBean.newProposta.addItemBibliograficoStrings(newItemBibliograficoTitulo.value,newItemBibliograficoAutor.value)}" >
                                <f:actionListener binding="#{newItemBibliograficoTitulo.resetValue()}" />
                                <f:actionListener binding="#{newItemBibliograficoAutor.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>
                
                
                <div class="form-group">
                    <h:link value="Cancelar" 
                            outcome="proponente_index"
                            class="btn btn-danger" 
                            />
                    &nbsp;
                    <h:commandButton
                        id="submit"
                        value="Criar"
                        class="btn btn-primary"
                        binding="#{proponenteManagedBean.component}"
                        action="#{proponenteManagedBean.createProposta()}" />

                    <h:message for="submit" style="color: red"/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html> 
