<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"                        
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Atualizar Proposta
        </ui:define>

        <ui:define name="main"> 

            <h:form>

                <div class="form-group">
                    <em:input_field 
                        id_tag="titulo" 
                        name_tag="Titulo:*" 
                        value="#{proponenteManagedBean.currentProposta.titulo}"
                        is_required="false"/>
                </div>

                <div class="form-group">
                    <em:input_field 
                        id_tag="resumo" 
                        name_tag="Resumo:*" 
                        value="#{proponenteManagedBean.currentProposta.resumo}"
                        is_required="false"/>
                </div>
                
                <div class="form-group">
                    <em:input_field 
                        id_tag="plano_trabalho" 
                        name_tag="Plano de Trabalho:*" 
                        value="#{proponenteManagedBean.currentProposta.planoTrabalho}"
                        is_required="false"/>
                </div>

                <div class="form-group">
                    <p:outputLabel for="tipo_trabalho" value="Tipo de Trabalho:*" />
                    <h:selectOneMenu 
                        id="tipo_trabalho" 
                        value="#{proponenteManagedBean.currentProposta.tipoTrabalho}"
                        required="false"
                        class="form-control">
                        <f:selectItems
                            value="#{proponenteManagedBean.allTiposDeTrabalho}"
                            var="tipoTrabalho"
                            itemValue="#{tipoTrabalho}"
                            itemLabel="#{tipoTrabalho}" />
                    </h:selectOneMenu>
                </div>
                
                <div class="form-group">
                    <em:input_field 
                        id_tag="local_realizacao"  
                        name_tag="Local Realizacao:"
                        value="#{proponenteManagedBean.currentProposta.localRealizacao}"
                        is_required="false"/>
                </div>

                <c:if test="#{not proponenteManagedBean.instituicao}">
                    <div class="form-group">
                        <p:outputLabel value="Outros Proponentes:" for="professores_proponentes"/>
                        <h:selectManyCheckbox 
                            id="professores_proponentes" 
                            value="#{proponenteManagedBean.currentProposta.proponenteUsernames}"
                            rendered="true">
                            <c:forEach items="#{proponenteManagedBean.allProfessores}" var="professor" > 
                                <c:if test="#{loginManagedBean.username != professor.username}">
                                    <f:selectItem itemValue="#{professor.username}" itemLabel="#{professor.nome}" />
                                </c:if>
                            </c:forEach>   
                        </h:selectManyCheckbox>
                        <h:message for="professores_proponentes" errorStyle="color: red" />
                    </div>
                </c:if>
                
                
                <h5 class="text-center"> Orçamento </h5>

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_bibliografia"
                        value="Bibliografia*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_bibliografia"
                            value="#{proponenteManagedBean.currentProposta.orcamentoBibliografia}"
                            class="form-control"
                            required="false"
                            />
                    </div>
                    <h:message for="orcamento_bibliografia" class="help-block" errorStyle="color: red" />
                </div>

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_material"
                        value="Material*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_material"
                            value="#{proponenteManagedBean.currentProposta.orcamentoMaterial}"
                            class="form-control"
                            required="false"
                            />
                    </div>
                    <h:message for="orcamento_material" class="help-block" errorStyle="color: red" />
                </div>

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_equipamento"
                        value="Equipamento*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_equipamento"
                            value="#{proponenteManagedBean.currentProposta.orcamentoEquipamento}"
                            class="form-control"
                            required="false"
                            />
                    </div>
                    <h:message for="orcamento_equipamento" class="help-block" errorStyle="color: red" />
                </div>     

                <div class="form-group">
                    <p:outputLabel 
                        for="orcamento_outros"
                        value="Outros*" />
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <h:inputText 
                            id="orcamento_outros"
                            value="#{proponenteManagedBean.currentProposta.orcamentoOutros}"
                            class="form-control"
                            required="false"
                            />
                    </div>
                    <h:message for="orcamento_outros" class="help-block" errorStyle="color: red" />
                </div>

                <div class="form-group">
                    <p:outputLabel  value="Areas Cientificas:*"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.currentProposta.areasCientificas}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="#{proponenteManagedBean.currentProposta.removeAreaCientificas(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.currentProposta.areasCientificas.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  

                        <li>
                            <h:inputText binding="#{newAreaCientificaIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Área Científica"
                                class="btn btn-info"
                                actionListener="#{proponenteManagedBean.currentProposta.addAreaCientificas(newAreaCientificaIT.value)}" >
                                <f:actionListener binding="#{newAreaCientificaIT.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <p:outputLabel  value="Objetivos:"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.currentProposta.objectivos}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="#{proponenteManagedBean.currentProposta.removeObjectivos(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.currentProposta.objectivos.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if> 

                        <li>
                            <h:inputText binding="#{newObjectivoIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Objectivo"
                                class="btn btn-info" 
                                actionListener="#{proponenteManagedBean.currentProposta.addObjectivos(newObjectivoIT.value)}" >
                                <f:actionListener binding="#{newObjectivoIT.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <p:outputLabel  value="Requisitos:"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.currentProposta.requisitosTrabalho}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="${proponenteManagedBean.currentProposta.removeRequisitoTrabalho(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.currentProposta.requisitosTrabalho.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  
                        <li>
                            <h:inputText binding="#{newRequisitosTrabalhoIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Requisito Trabalho"
                                class="btn btn-info" 
                                actionListener="${proponenteManagedBean.currentProposta.addRequisitoTrabalho(newRequisitosTrabalhoIT.value)}" >
                                <f:actionListener binding="#{newRequisitosTrabalhoIT.resetValue()}" />
                            </h:commandButton>

                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <p:outputLabel  value="Apoios:"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.currentProposta.apoios}" var="val">
                            <li>

                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="${proponenteManagedBean.currentProposta.removeApoio(val)}" />
                                &nbsp;
                                <span>${val}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.currentProposta.apoios.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  

                        <li>
                            <h:inputText binding="#{newApoioIT}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Apoio"
                                class="btn btn-info" 
                                actionListener="${proponenteManagedBean.currentProposta.addApoio(newApoioIT.value)}" >
                                <f:actionListener binding="#{newApoioIT.resetValue()}" />
                            </h:commandButton>

                        </li>
                    </ul>
                </div>
                
                <div class="form-group">
                    <p:outputLabel  value="Bibliografia"/>
                    <ul>
                        <c:forEach items="${proponenteManagedBean.currentProposta.bibliografia}" var="val">
                            <li>
                                <h:commandButton
                                    value="X"
                                    class="btn btn-danger" 
                                    action="${proponenteManagedBean.currentProposta.removeItemBibliografico(val)}" />
                                &nbsp;
                                <span>${val.titulo},&nbsp;${val.autor}</span> 
                            </li>
                        </c:forEach>

                        <c:if test="#{proponenteManagedBean.currentProposta.bibliografia.size() == 0}">  
                            <li><p class="alert-danger">Sem Elementos</p></li>
                        </c:if>  

                        <li>
                            Titulo:&nbsp;<h:inputText binding="#{newItemBibliograficoTitulo}"/>
                            Autor:&nbsp;<h:inputText binding="#{newItemBibliograficoAutor}"/>
                            &nbsp;
                            <h:commandButton
                                value="Adicionar Item Bibliografico"
                                class="btn btn-info" 
                                actionListener="#{proponenteManagedBean.currentProposta.addItemBibliograficoStrings(newItemBibliograficoTitulo.value,newItemBibliograficoAutor.value)}" >
                                <f:actionListener binding="#{newItemBibliograficoTitulo.resetValue()}" />
                                <f:actionListener binding="#{newItemBibliograficoAutor.resetValue()}" />
                            </h:commandButton>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <h:link 
                        class="btn btn-danger"
                        outcome="proponente_index?faces-redirect=true"
                        value="Cancelar"/>
                    &nbsp;
                    <h:commandButton
                        id="submit"
                        value="Guardar"
                        class="btn btn-primary"
                        binding="#{proponenteManagedBean.component}"
                        action="#{proponenteManagedBean.updateProposta}" />
                    <h:messages errorStyle="color: red" />      
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

