<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:f="http://java.sun.com/jsf/core"       
      xmlns:p="http://primefaces.org/ui"       
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Index #{loginManagedBean.username}
        </ui:define>

        <ui:define name="main">

            <!-- Propostas -->
            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_PROPOSTAS)
                          or loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_VALIDACAO)}">

                <em:dt 
                    id="propostas"
                    title="Propostas" 
                    headers="#{['Titulo', 'Resumo', 'Tipo', 'Estado']}" 
                    props="#{['titulo', 'resumo', 'tipoTrabalho', 'estado']}" 
                    list="#{proponenteManagedBean.allPropostasDoProponenteLoggado}">    

                    <p:column headerText="Acções">     
                        <h:form>

                            <h:commandLink value="Detalhes" action="proponente_proposta_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{proponenteManagedBean.currentProposta}" value="#{object}"/>
                            </h:commandLink>

                            &nbsp;
                            <h:commandLink 
                                value="Update" 
                                action="proponente_proposta_update?faces-redirect=true" 
                                rendered="#{object.estado.nomeTipo ne 'Aceite'}">
                                <f:setPropertyActionListener target="#{proponenteManagedBean.currentProposta}" value="#{object}"/>
                            </h:commandLink>

                            &nbsp;
                            <h:commandLink 
                                value="Remover" 
                                actionListener="#{proponenteManagedBean.removeProposta}"
                                rendered="#{object.estado.nomeTipo ne 'Aceite'}">
                                <f:param name="propostaI" id="propostaId" value="#{object.id}" />
                            </h:commandLink>
                        </h:form>
                    </p:column> 

                </em:dt> 

            </c:if>

            <c:if test="#{not(loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_PROPOSTAS)
                          or loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_VALIDACAO))}">

                <em:dt 
                    id="propostas_"
                    title="Propostas" 
                    headers="#{['Titulo', 'Resumo', 'Tipo', 'Estado']}" 
                    props="#{['titulo', 'resumo', 'tipoTrabalho', 'estado']}" 
                    list="#{proponenteManagedBean.allPropostasDoProponenteLoggado}">    

                    <p:column headerText="Acções">     
                        <h:form>

                            <h:commandLink value="Detalhes" action="proponente_proposta_details?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{proponenteManagedBean.currentProposta}" value="#{object}"/>
                            </h:commandLink>
                        </h:form>
                    </p:column> 

                </em:dt> 
            </c:if>

            <br/>
            <br/>

            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_PROPOSTAS)}">
                <h:link value="Criar Proposta" 
                        outcome="proponente_proposta_create"
                        class="btn btn-primary" 
                        />
            </c:if>
            <c:if test="#{!loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_PROPOSTAS)}">
                <h:link value="Criar Proposta" 
                        class="btn btn-primary disabled" 
                        />
            </c:if>

            <!-- SUPERVISORES-->
            <c:if test="#{proponenteManagedBean.isInstituicao()}">
                <br/>
                <br/>

                <em:dt 
                    id="supervisors"
                    title="Supervisores" 
                    headers="#{['Nome', 'Email']}" 
                    props="#{['nome', 'email']}" 
                    list="#{proponenteManagedBean.allSupervisorsOfInstituicao}">    
                </em:dt>
                <br/>
                <br/>

                <h:link value="Criar Supervisor" 
                        outcome="instituicao_supervisor_create"
                        class="btn btn-primary" 
                        />
            </c:if>
        </ui:define>
    </ui:composition>

</html> 
