<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"                    
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Detalhes Proposta
        </ui:define>

        <ui:define name="main"> 

            <em:proposta_details proposta="#{proponenteManagedBean.currentProposta}">

                <h:link value="Voltar" 
                        outcome="proponente_index"
                        class="btn btn-primary" 
                        />

            </em:proposta_details>

        </ui:define>
    </ui:composition>
</html>

