<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"             
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title"> 
            Detalhes de Prova Pública
        </ui:define>

        <ui:define name="main" class="form"> 

            <h:form enctype="multipart/form-data">
                <em:input_date 
                    id_tag="data"
                    name_tag="Data"
                    value="#{membroComissaoCPManagedBean.currentProvaPublica.data}"
                    is_required="false"
                    is_disabled="true"
                    />

                <em:input_field 
                    id_tag="local"
                    name_tag="Local"
                    value="#{membroComissaoCPManagedBean.currentProvaPublica.local}"
                    is_required="false"
                    is_disabled="true"
                    />

                <h4 class="form-group text-center"> Membros do Júri </h4>

                <em:input_field 
                    id_tag="juri_mccp"
                    name_tag="Membro CCP"
                    value="#{membroComissaoCPManagedBean.currentProvaPublica.juriMembroCCPNome}"
                    is_required="false"
                    is_disabled="true"
                    />

                <em:input_field 
                    id_tag="juri_orientador"
                    name_tag="Orientador"
                    value="#{membroComissaoCPManagedBean.currentProvaPublica.juriOrientadorNome}"
                    is_required="false"
                    is_disabled="true"
                    />

                <em:input_field 
                    id_tag="juri_professor"
                    name_tag="Professor"
                    value="#{membroComissaoCPManagedBean.currentProvaPublica.juriProfessorNome}"
                    is_required="false"
                    is_disabled="true"
                    />

                <h5 text="text-center">Ata</h5>
                <h6>Para finalizar o trabalho adicione o a Ata da prova pública</h6>

                <div class="form-group">
                    <p:growl id="growlcv" showDetail="true" />
                    <p:fileUpload
                        value="#{uploadManager.file}" 
                        mode="simple" 
                        skinSimple="true"/>

                    <p:commandButton value="Finalizar" 
                                     ajax="false" 
                                     actionListener="#{uploadManager.upload('atas/')}"
                                     action="#{membroComissaoCPManagedBean.adicionarAta()}"/>
                </div>

                <div class="form-group">
                    <h:commandLink
                        value="Voltar"
                        class="btn btn-primary"
                        action="membro_ccp_index?faces-redirect=true"/>
                </div>
            </h:form>

            <h:messages errorStyle="color: red" />

        </ui:define>
    </ui:composition>
</html>


