<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     <ui:composition template="../../templates/skeleton.xhtml">

       <ui:define name="title">
            Atribuicao de professores
        </ui:define>

        <ui:define name="main">
            <h:form>
                <div>
                   <h1>Atribuicao de professores</h1>
                </div>
                <div class="item">
                    <em:view_field id_tag="titulo" name_tag="Titulo:" 
                                   value="#{membroComissaoCPManagedBean.currentTrabalho.titulo}"/>
                </div>
                <div class="item">
                    <em:view_field id_tag="resumo" name_tag="Resumo:" 
                                   value="#{membroComissaoCPManagedBean.currentTrabalho.resumo}"/>
                </div>
                <div class="item">
                    <em:view_field id_tag="estudante" name_tag="Estudante:" 
                                   value="#{membroComissaoCPManagedBean.currentTrabalho.estudanteUsername}"/>
                </div>
                <div class="item">
                    <p:outputLabel value="Orientadores:" for="orientadores"/>
                    <h:selectManyCheckbox 
                        id="orientadores" 
                        value="#{membroComissaoCPManagedBean.currentTrabalho.professorUsernames}">
                        <c:forEach items="#{membroComissaoCPManagedBean.allProfessores}" var="professor" > 
                            <f:selectItem itemValue="#{professor.username}" itemLabel="#{professor.nome}" />
                        </c:forEach>   
                    </h:selectManyCheckbox>
                    <h:message for="orientadores" errorStyle="color: red" />
                </div>
                
                <c:if test="#{membroComissaoCPManagedBean.currentTrabalho.tipoProponente.nomeTipo == 'Instituicao'}">
                    <div class="item">
                        <p:outputLabel value="Supervisor:" for="supervisors"/>
                        <h:selectOneMenu 
                            id="supervisors" 
                            value="#{membroComissaoCPManagedBean.currentTrabalho.supervisorEmail}">
                            <c:forEach items="#{membroComissaoCPManagedBean.allSupervisorsOfInstituicao}" var="supervisor" > 
                                    <f:selectItem itemValue="#{supervisor.email}" itemLabel="#{supervisor.nome}" />
                            </c:forEach>   
                        </h:selectOneMenu>
                        <h:message for="supervisors" errorStyle="color: red" />
                    </div>
                </c:if>
                <h:link value="Voltar" 
                    outcome="membro_ccp_index?faces-redirect=true"
                    class="btn btn-danger" 
                    />
                &nbsp;
                <h:commandButton
                    id="submit"
                    value="Update"
                    class="btn btn-primary" 
                    binding="#{membroComissaoCPManagedBean.component}"
                    action="#{membroComissaoCPManagedBean.updateTrabalhoOrientadores()}" />
                <h:message for="submit" style="color: red"/>
                
            </h:form>
        </ui:define>
     </ui:composition>
</html>

