<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"             
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title"> 
            Marcar Prova Pública
        </ui:define>

        <ui:define name="main"> 

            <h:form class="form-horozontal">
                
                <em:input_date 
                    id_tag="data"
                    name_tag="Data (aaaa-mm-dd)"
                    value="#{membroComissaoCPManagedBean.newProvaPublica.data}"
                    />

                <em:input_field 
                    id_tag="local"
                    name_tag="local"
                    value="#{membroComissaoCPManagedBean.newProvaPublica.local}"
                    />

                <h3 class="form-group"> Membros do Júri </h3>

                <div class="form-group">
                    <p:outputLabel for="juri_mccp" value="Membro da CP"/>
                    <h:selectOneMenu id="juri_mccp" class="form-control" value="#{membroComissaoCPManagedBean.newProvaPublica.juriMembroCCPUsername}">
                        <f:selectItems
                            value="#{membroComissaoCPManagedBean.allMembrosCCP}"
                            var="mccp"
                            itemValue="#{mccp.username}"
                            itemLabel="#{mccp.nome}" />
                    </h:selectOneMenu>

                </div>

                <div class="form-group">
                    <p:outputLabel for="juri_orientador" value="Professor Orientador"/>
                    <h:selectOneMenu id="juri_orientador" class="form-control" value="#{membroComissaoCPManagedBean.newProvaPublica.juriOrientadorUsername}">
                        <f:selectItems
                            value="#{membroComissaoCPManagedBean.orientadoresDoTrabalhoCurrente}"
                            var="orientador"
                            itemValue="#{orientador.username}"
                            itemLabel="#{orientador.nome}" />
                    </h:selectOneMenu>
                </div>

                <div class="form-group">
                    <em:input_field
                        id_tag="professor_nome"
                        name_tag="Nome do Professor Externo"
                        value="#{membroComissaoCPManagedBean.newProvaPublica.juriProfessorNome}"
                        is_required="true"/>
                    <em:input_field
                        id_tag="professor_email"
                        name_tag="Email do Professor Externo"
                        value="#{membroComissaoCPManagedBean.newProvaPublica.juriProfessorEmail}"
                        is_required="true"/>
                </div>
                
                <div class="form-group">

                    <h:link 
                        value="Cancelar" 
                        outcome="membro_ccp_index?faces-redirect=true"
                        class="btn btn-danger" />
                    
                    &nbsp;
                    
                    <h:commandButton
                        id="submit"
                        value="Criar"
                        class="btn btn-primary"
                        binding="#{membroComissaoCPManagedBean.component}"
                        action="#{membroComissaoCPManagedBean.createProvaPublica()}" />
                    <h:message for="submit" class="help-block" style="color: red"/>

                </div>
                
            </h:form>

            <h:messages errorStyle="color: red" />
        </ui:define>
    </ui:composition>
</html>


