<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"             
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title"> 
            Detalhes Proposta
        </ui:define>

        <ui:define name="main"> 

            <em:proposta_details proposta="#{membroComissaoCPManagedBean.currentProposta}">


                <c:if test="#{membroComissaoCPManagedBean.currentProposta.estado.nomeTipo == 'Análise'
                              and loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_VALIDACAO)}">               
                    <em:input_tarea
                        id_tag="observacoes"
                        name_tag="Observacoes"
                        value="#{membroComissaoCPManagedBean.currentProposta.observacoes}"/>

                </c:if>

                <br/>

                <h:commandLink
                    id="backbtn"
                    value="Voltar"
                    class="btn btn-primary"
                    action="membro_ccp_index?faces-redirect=true"/>
                &nbsp;
                <c:if test="#{membroComissaoCPManagedBean.currentProposta.estado.nomeTipo == 'Análise'
                              and loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_VALIDACAO)}">                
                    <h:commandButton
                        id="aceitar"
                        value="Aceitar"
                        class ="btn btn-primary"
                        action="#{membroComissaoCPManagedBean.aceitarProposta}"/>
                    &nbsp;               
                    <h:commandButton
                        id="rejeitar"
                        value="Rejeitar"
                        class="btn btn-danger"
                        binding="#{membroComissaoCPManagedBean.component}"
                        action="#{membroComissaoCPManagedBean.rejeitarProposta}"/>
                </c:if>

            </em:proposta_details>

            &nbsp;
            <h:messages errorStyle="color: red" />        

        </ui:define>
    </ui:composition>
</html>

