<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"                     
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">      

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title">
            Seriação do Trabalho
        </ui:define>

        <ui:define name="main">

            <em:proposta_details proposta="#{membroComissaoCPManagedBean.currentTrabalho.proposta}"/>
            
            <em:dt 
                id="candidaturas"
                title="Candidaturas" 
                headers="#{['Estudante', 'Media']}" 
                props="#{['estudanteUsername', 'media']}" 
                list="#{membroComissaoCPManagedBean.allCandidaturasDoTrabalho}">
                
                <p:column headerText="Acções">     
                    <h:form>
                        <h:commandLink value="Aceitar" action="membro_ccp_index?faces-redirect=true"
                                       actionListener="#{membroComissaoCPManagedBean.aceitarCandidatura}">
                            <f:param name="candidaturaID" id="candidaturaID" value="#{object.id}" />
                        </h:commandLink>
                        &nbsp;
                        <h:commandLink value="Detalhes" action="membro_ccp_trabalho_candidatura_detalhes?faces-redirect=true" >
                            <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentCandidatura}" value="#{object}"/>
                        </h:commandLink>
                    </h:form>
                </p:column> 
            </em:dt> 
            
            <br/>
            
            <h:link value="Voltar" 
                    outcome="membro_ccp_index?faces-redirect=true"
                    class="btn btn-danger" 
                    />
            
            <br/>

        </ui:define>
    </ui:composition>

</html> 
