<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:f="http://java.sun.com/jsf/core"       
      xmlns:p="http://primefaces.org/ui"       
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title"> 
            Index de #{loginManagedBean.username}
        </ui:define>

        <ui:define name="main">     

            <h:form>
                
                <div class="form-group">                    
                    <h:commandButton
                        value="Atrasar Concurso"
                        class="btn btn-danger"
                        action="#{membroComissaoCPManagedBean
                                          .atrasarConcursoMaisRecente(loginManagedBean.latestConcurso.id)}"/>

                    &nbsp;

                    <h:commandButton
                        id="btn_avancar"
                        value="Avancar Concurso"
                        class="btn btn-primary"
                        action="#{membroComissaoCPManagedBean.avancarConcursoMaisRecente(loginManagedBean.latestConcurso.id)}"/>
                    <h:messages for="btn_avancar" errorClass="error" /> 
                </div>
                <br/>
            </h:form>

            <!--Trabalhos Finalizados-->
            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_MARCACAO_PROVA_PUBLICA)}">

                <em:dt
                    id="trabalhos_finalizados"
                    title="Trabalhos finalizados" 
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo', 'Estudante']}" 
                    props="#{['titulo','tipoTrabalho','resumo', 'estudanteUsername']}" 
                    list="#{membroComissaoCPManagedBean.allTrabalhosFinalizados}">

                    <p:column headerText="Ata da Prova Pública">     

                        <h:form>
                            <p:commandButton value="Descarregar Ata" ajax="false">
                                <p:fileDownload value="#{downloadManager.getFile(object.provaPublicaAta)}" />
                            </p:commandButton>

                            &nbsp;

                            <h:commandLink
                                value="Remover Ata" 
                                action="#{membroComissaoCPManagedBean.removerAta(object.provaPublicaId)}"/>
                        </h:form>
                    </p:column> 
                </em:dt>

                <br/>
                <br/>

                <em:dt
                    id="trabalhos_entregues"
                    title="Trabalhos entregues" 
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo', 'Estudante']}" 
                    props="#{['titulo','tipoTrabalho','resumo', 'estudanteUsername']}" 
                    list="#{membroComissaoCPManagedBean.allTrabalhosEntregues}">

                    <p:column headerText="Prova Pública">     

                        <h:form>
                            <span>
                                <h:commandLink 
                                    rendered="${object.provaPublicaId != null}" 
                                    value="Detalhes/Adicionar Ata" 
                                    class="alert-success" 
                                    action="membro_ccp_prova_publica_details?faces-redirect=true" >
                                    <f:setPropertyActionListener 
                                        target="#{membroComissaoCPManagedBean.currentProvaPublica}" 
                                        value="#{membroComissaoCPManagedBean.findProvaPublica(object.provaPublicaId)}"/>
                                </h:commandLink>

                                <br/>

                                <h:commandLink 
                                    rendered="${object.provaPublicaId != null}"
                                    value="Desmarcar" 
                                    actionListener="#{membroComissaoCPManagedBean.removeProvaPublica}">
                                    <f:param 
                                        name="trabalhos_entregues_provaPublicaId" 
                                        id="trabalhos_entregues_provaPublicaId" 
                                        value="#{object.provaPublicaId}" />
                                </h:commandLink>

                            </span>

                            <span>
                                <h:commandLink 
                                    rendered="${object.provaPublicaId == null}"
                                    value="Marcar" 
                                    class="alert-danger" 
                                    action="membro_ccp_prova_publica_create?faces-redirect=true" >
                                    <f:setPropertyActionListener 
                                        rendered="${object.provaPublicaId == null}"
                                        target="#{membroComissaoCPManagedBean.currentTrabalho}"
                                        value="#{object}"/>
                                </h:commandLink>
                            </span>

                        </h:form>
                    </p:column> 
                </em:dt>
                <br/>
                <br/>
            </c:if>

            <!--Periodo Desenvolvimento Trabalhos-->
            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_ENTREGA_TRABALHOS)}">

                <em:dt
                    id="trabalhos_desenvolvimento"
                    title="Trabalhos em desenvolvimento" 
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo', 'Estudante', 'Data Entrega']}" 
                    props="#{['titulo','tipoTrabalho','resumo', 'estudanteUsername', 'dataEntregaString']}" 
                    list="#{membroComissaoCPManagedBean.allTrabalhosIniciados}">

                </em:dt>
                <br/>
                <br/>
            </c:if>

            <!--Seriacao Candidaturas-->
            <c:if test="#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo.equalsIgnoreCase(loginManagedBean.ESTADO_CONCURSO_PERIODO_SERIACAO)}">
                <em:dt 
                    id="trabalhos_seriados"
                    title="Trabalhos Seriados" 
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo', 'Estudante']}" 
                    props="#{['titulo','tipoTrabalho','resumo', 'estudanteUsername']}" 
                    list="#{membroComissaoCPManagedBean.allTrabalhosSeriados}">

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Atribuir Orientadores" action="membro_ccp_trabalho_atribuir_professores?faces-redirect=true" 
                                           class="alert-danger" rendered="#{object.professorUsernames.size() eq 0}">
                                <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentTrabalho}" value="#{object}"/>
                            </h:commandLink>
                             <h:commandLink value="Atualizar Orientadores" action="membro_ccp_trabalho_atribuir_professores?faces-redirect=true" 
                                            rendered="#{not (object.professorUsernames.size() eq 0)}">
                                <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentTrabalho}" value="#{object}"/>
                             </h:commandLink>
                        </h:form>
                        
                    </p:column> 
                </em:dt> 

                <br/>
                <h:form>
                    <h:commandButton
                        id="seriar"
                        value="Seriar todos trabalhos"
                        class="btn btn-primary"
                        action ="#{membroComissaoCPManagedBean.seriacaoAutomatica()}" />
                    <h:message for="seriar" style="color: red"/>
                </h:form>

                <br/>
                <br/>

                <em:dt 
                    id="trabalhos_por_seriar"
                    title="Trabalhos por seriar" 
                    headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo']}" 
                    props="#{['titulo','tipoTrabalho','resumo']}" 
                    list="#{membroComissaoCPManagedBean.allTrabalhosPorSeriar}">

                    <p:column headerText="Acções">     
                        <h:form>
                            <h:commandLink value="Seriar" action="membro_ccp_trabalho_seriar?faces-redirect=true" >
                                <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentTrabalho}" value="#{object}"/>
                            </h:commandLink>
                        </h:form>
                    </p:column> 
                </em:dt> 
                <br/>
                <br/>
            </c:if>

            <!--PROPOSTAS-->
            <em:dt 
                id="propostas"
                title="Propostas" 
                headers="#{['Titulo', 'Resumo', 'Tipo de Trabalho', 'Estado']}" 
                props="#{['titulo', 'resumo', 'tipoTrabalho', 'estado']}" 
                list="#{membroComissaoCPManagedBean.allPropostas}">    

                <p:column headerText="Ações">     
                    <h:form>
                        <h:commandLink value="Detalhes" action="membro_ccp_proposta_details?faces-redirect=true">
                            <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentProposta}" value="#{object}"/>
                        </h:commandLink>
                    </h:form>
                </p:column> 

            </em:dt> 

            <br/>
            <br/>
            <!-- ESTUDANTES -->
            <em:dt
                id="estudantes"
                title="Estudantes" 
                headers="#{['Username', 'Nome', 'Email']}" 
                props="#{['username', 'nome', 'email']}" 
                list="#{membroComissaoCPManagedBean.allEstudantes}">    

                <p:column headerText="Ações">     
                    <h:form>
                        <h:commandLink value="Update" action="membro_ccp_estudantes_update?faces-redirect=true" >
                            <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentEstudante}" value="#{object}"/>
                        </h:commandLink>
                        &nbsp;
                        <h:commandLink value="Remover" actionListener="#{membroComissaoCPManagedBean.removeEstudante}">
                            <f:param name="estudanteUsername" id="estudanteUsername" value="#{object.username}" />
                        </h:commandLink>
                    </h:form>
                </p:column> 

            </em:dt> 

            <br/>

            <h:link value="Criar Estudante" 
                    outcome="membro_ccp_estudantes_create"
                    class="btn btn-primary" 
                    />

            <br/>
            <br/>

            <!-- PROFESSORES -->
            <em:dt
                id="professores"
                title="Professores" 
                headers="#{['Username', 'Nome', 'Email']}" 
                props="#{['username', 'nome', 'email']}" 
                list="#{membroComissaoCPManagedBean.allProfessores}">    

                <p:column headerText="Acções">     
                    <h:form>
                        <h:commandLink value="Update" action="membro_ccp_professores_update?faces-redirect=true">
                            <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentProfessor}" value="#{object}" />
                        </h:commandLink>
                        &nbsp;
                        <h:commandLink value="Remover" actionListener="#{membroComissaoCPManagedBean.removeProfessor}">
                            <f:param name="professorUsername" id="professorUsername" value="#{object.username}" />
                        </h:commandLink>
                    </h:form>
                </p:column> 
            </em:dt>

            <br/>

            <h:link value="Criar Professor" 
                    outcome="membro_ccp_professor_create"
                    class="btn btn-primary" 
                    />

            <br/>
            <br/>

            <!-- INSTITUICOES -->
            <em:dt 
                id="instituicoes"
                title="Instituições" 
                headers="#{['Username', 'Nome', 'Email', 'Tipo Instituição']}" 
                props="#{['username', 'nome', 'email', 'tipoInstituicao']}" 
                list="#{membroComissaoCPManagedBean.allInstituicoes}">    

                <p:column headerText="Acções">     
                    <h:form>
                        <h:commandLink value="Update" action="membro_ccp_instituicoes_update?faces-redirect=true">
                            <f:setPropertyActionListener target="#{membroComissaoCPManagedBean.currentInstituicao}" value="#{object}" />
                        </h:commandLink>
                        &nbsp;
                        <h:commandLink value="Remover" actionListener="#{membroComissaoCPManagedBean.removeInstituicao}">
                            <f:param name="instituicaoUsername" id="instituicaoUsername" value="#{object.username}" />
                        </h:commandLink>
                    </h:form>
                </p:column> 

            </em:dt>

            <br/>

            <h:link value="Criar Instituição" 
                    outcome="membro_ccp_instituicao_create"
                    class="btn btn-primary" 
                    />

            <br/>
    
        </ui:define>     
    </ui:composition>  

</html> 
