<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"           
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">     

    <ui:composition template="../../templates/skeleton.xhtml">

        <ui:define name="title"> 
            Atualizar Estudante
        </ui:define>
        
        <ui:define name="main"> 

            <em:entidate_edit entidade="${membroComissaoCPManagedBean.currentEstudante}">                  

                <h:link value="Cancelar" 
                    outcome="membro_ccp_index"
                    class="btn btn-danger" 
                    />
                
                &nbsp;
                
                <h:commandButton
                    id="submit"
                    value="Update"
                    class="btn btn-primary"
                    binding="#{membroComissaoCPManagedBean.component}"
                    action="#{membroComissaoCPManagedBean.updateEstudante}" />
                <h:message for="submit" class="help-block" style="color: red"/>
                
            </em:entidate_edit>

            <h:messages errorStyle="color: red" />        
        </ui:define>
    </ui:composition>
</html>