<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html 
    xmlns="http://www.w3.org/1999/xhtml"       
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"            
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">     
    <h:head>         
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />         

        <title>
            <ui:insert name="title">
                Gestão UCs projeto/estágio/dissertação de mestrado
            </ui:insert>
        </title> 

        <h:outputStylesheet library="css" name="bootstrap.min.css"/> 

        <ui:insert name="css">            
            <!-- other style sheets you might want to include -->         
        </ui:insert>     

    </h:head>     

    <h:body>         

        <nav class="navbar navbar-light bg-faded">
            <c:if test="${loginManagedBean.someUserAuthenticated}">
                <span>
                    <h3>Está loggado como <b>#{loginManagedBean.username}</b>.</h3>
                    <h5>Concurso em <b>#{loginManagedBean.latestConcurso.estadoConcurso.nomeTipo}</b></h5 >
                </span>

                <h:form>
                    <h:commandLink value="LogOut" action="#{loginManagedBean.logout}"/>
                </h:form>
            </c:if>
        </nav>

        <h2 class="text-center">
            <ui:insert name="title"/>
        </h2>

        <div id="main" class="container">      

            <ui:insert name="main">                 
                <!-- All the main application content goes here --> 
            </ui:insert>
        </div>        

        <h:outputScript library="js" name="bootstrap.min.js">
        </h:outputScript>         

        <ui:insert name="scripts">    
            <!-- other scripts you might want to include -->        
        </ui:insert>     

    </h:body> 
</html>
