<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <f:metadata>
            <f:viewParam name="trabalhoid" value="#{downloadManager.trabalhoId}" required="true"/>
            <f:viewParam name="documentonome" value="#{downloadManager.documentoNome}" required="true"/>
        </f:metadata>
    </h:head>

    <h:body>
        <h2 style="text-align: center">Descarregar ficheiro #{downloadManager.documentoNome}</h2>

        
            <h4 style="text-align: center"> 
                <h:form >
                    <div class="form-group">
                        <h:commandButton id="download" value="Download" class="btn btn-primary">
                            <p:fileDownload value="#{downloadManager.getFile()}" />
                        </h:commandButton>
                        <h:message for="download" class="help-block" errorStyle="color: red" />
                    </div>
                </h:form>

            </h4>

    </h:body>
</html>