<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"                                 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">      

    <ui:composition template="/templates/skeleton.xhtml">

        <ui:define name="title">
            403 - Forbidden
        </ui:define>

        <ui:define name="main">
            <h3 class="text-center">Check again your <b>username</b> and/or <b>password</b></h3>
            <h:form>
                <div class="text-center">
                    <h:commandLink value="Voltar" class="btn btn-primary"  action="#{loginManagedBean.clearLogin}"/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html> 