<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:f="http://java.sun.com/jsf/core"       
      xmlns:p="http://primefaces.org/ui"       
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">      

    <ui:composition template="/templates/skeleton.xhtml">

        <ui:define name="title">
            DAE 2017
        </ui:define>

        <ui:define name="main">
            <div>
                <c:if test="${not loginManagedBean.someUserAuthenticated}">
                    <h:form rendered="${not loginManagedBean.someUserAuthenticated}">

                        <em:input_field
                            id_tag="username"
                            name_tag="Username"
                            value="#{loginManagedBean.username}"/>

                        <em:input_pass
                            id_tag="password"
                            name_tag="Password"
                            value="#{loginManagedBean.password}"/>

                        <div class="form-group">
                            <h:commandButton value="Login" action="#{loginManagedBean.login}" />
                        </div>

                    </h:form>
                </c:if>
                <c:if test="${loginManagedBean.someUserAuthenticated}">
                    <p>You are logged in!</p>
                    <h:link outcome="${loginManagedBean.redirect()}" value="Return to Home Page"/>
                </c:if>
            </div>
            
            <hr/>
            
            <em:dt 
                title="Trabalhos Finalizados"
                id="trabalhos_finalizados"
                headers="#{['Titulo Trabalho', 'Tipo de Trabalho', 'Resumo']}" 
                props="#{['titulo','tipoTrabalho','resumo']}" 
                list="#{publicoManagedBean.allTrabalhosFinalizados}">

                <p:column headerText="Ações">     
                    <h:form>
                        <h:commandLink value="Detalhes" action="trabalho_finalizado_detalhes?faces-redirect=true" >
                            <f:setPropertyActionListener target="#{publicoManagedBean.currentTrabalho}" value="#{object}"/>
                        </h:commandLink>
                    </h:form>
                </p:column> 
            </em:dt>

        </ui:define>
    </ui:composition>

</html> 