<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:h="http://xmlns.jcp.org/jsf/html"                     
      xmlns:em="http://xmlns.jcp.org/jsf/composite/emcomp"            
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">      

    <ui:composition template="/templates/skeleton.xhtml">

        <ui:define name="title">
            Detalhes do Trabalho
        </ui:define>

        <ui:define name="main">
            
            <h:form>

                <em:input_field
                    id_tag="titulo" 
                    name_tag="Titulo"
                    value="#{publicoManagedBean.currentTrabalho.titulo}"
                    is_disabled="true"
                    is_required="false"/>
                
                <em:input_field
                    id_tag="resumo" 
                    name_tag="Resumo"
                    value="#{publicoManagedBean.currentTrabalho.resumo}"
                    is_disabled="true"
                    is_required="false"/>

                <em:input_field
                    id_tag="tipo_trabalho" 
                    name_tag="Tipo de Trabalho"
                    value="#{publicoManagedBean.currentTrabalho.tipoTrabalho.nomeTipo}"
                    is_disabled="true"
                    is_required="false"/>

                <c:if test="#{publicoManagedBean.currentTrabalho.tipoTrabalho.nomeTipo == 'Estágio'}">
                    <em:input_field
                        id_tag="local_realizacao"  
                        name_tag="Local Realizacao"
                        value="#{publicoManagedBean.currentTrabalho.proposta.localRealizacao != null ? 
                                 publicoManagedBean.currentTrabalho.proposta.localRealizacao : 'Por definir'}"
                        is_disabled="true"
                        is_required="false"/>
                </c:if>

                <em:input_field
                    id_tag="plano" 
                    name_tag="Plano De Trabalho"
                    value="#{publicoManagedBean.currentTrabalho.proposta.planoTrabalho}"
                    is_disabled="true"
                    is_required="false"/>

                <em:view_string_list 
                    name_tag="Professores"
                    list="#{publicoManagedBean.currentTrabalho.professorUsernames}"
                    empty_value_override="Ainda nao foram alocados professores para este trabalho"/>         

                <em:view_string_list 
                    name_tag="Areas Cientificas:"
                    list="#{publicoManagedBean.currentTrabalho.proposta.areasCientificas}"/>    


                <em:view_string_list 
                    name_tag="Objetivos:"
                    list="#{publicoManagedBean.currentTrabalho.proposta.objectivos}"/>


                <em:view_string_list 
                    name_tag="Requisitos:"
                    list="#{publicoManagedBean.currentTrabalho.proposta.requisitosTrabalho}"/>


                <em:view_string_list 
                    name_tag="Apoios:"
                    list="#{publicoManagedBean.currentTrabalho.proposta.apoios}"/>

                <div class="form-group">
                    <p:outputLabel value="Bibliografia"/>
                    <ul>
                        <c:forEach items="${publicoManagedBean.currentTrabalho.proposta.bibliografia}" var="area">
                            <li>
                                <span>${area.titulo},&nbsp;${area.autor}</span>
                            </li>
                        </c:forEach>

                        <c:if test="#{publicoManagedBean.currentTrabalho.proposta.bibliografia.size() == 0}">  
                            <li>"Sem bibliografia disponivel"</li>
                        </c:if>  
                    </ul>
                </div>
                    
                <div class="form-group">
                    <em:dt 
                        title="Artefactos publicos"
                        id="documentos"
                        headers="#{['Nome', 'Tipo', 'Data']}" 
                        props="#{['nome','mimeType','uploadedAt']}" 
                        list="#{publicoManagedBean.currentTrabalho.artefactosPublicos}">

                        <p:column headerText="Acções">     
                            <h:form>
                                <p:commandButton value="Download" ajax="false">
                                    <p:fileDownload value="#{downloadManager.getFile(object)}" />
                                </p:commandButton>
                            </h:form>
                        </p:column> 

                    </em:dt>
                </div>
    
                <div class="form-group">
                    <h:link value="Voltar" 
                            outcome="login"
                            class="btn btn-primary" 
                            />
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html> 
